body{font-size:14px;}
input[type="text"]{width:170px;}
input{*width:160px;}
.inputcbx { *width:15px !important; *height:15px !important;padding:0;*margin-right:4px; }

#leftdiv{width:388px;display:block;float:left;height:100%;position:relative;background:#F6F6F6;border-right:1px solid #e1e1e1;}
#rightdiv, .detaildiv{width:382px;display:block;float:left;margin-left:0;border-left:none;}
.detaildiv{height:42px;line-height:42px;margin:0;*margin-top:expression(this.previousSibling==null?"2px":"0px");}
.hasborder{border-bottom:1px solid #e1e1e1;}
.detailcontent{width:368px;*width:370px;padding-left:14px;overflow-x:hidden;overflow-y:auto;}
.detailcontent .detaildiv:first-child{margin:10px 0 0 0;}
.nocalldiv{width:100%;height:100%;text-align:center;}

.itemdiv, .rightitemdiv, #loadmorediv{width:380px;height:42px;padding-left:16px;line-height:42px;background:transparent;color:#222;border-bottom:1px solid #e1e1e1;}
.itemdiv > div, .rightitemdiv > div{display:block;float:left;}
.itemdiv div{*display:block;*float:left;}
.contactsdiv > div{display:block;float:left;}
.hoverItem{background:#FFFFFF url("../img/apps/item_hover.png") no-repeat left;}
.selectItem{background:#FFFFFF url("../img/apps/item_selected.png") no-repeat left;}
.itemcheck{width:14px;height:16px;margin-right:10px;padding-top:13px;margin-left:0px;}
.itemcheck input{width:14px;margin:0;}
.itemstar{width:20px;height:16px;margin-left:30px;padding-top:9px;}
.itemicon, .itempicon, .membericon{width:26px;height:18px;padding-top:12px;}
.itemname, .itemcontent, .logitemdate, .logitemtopduration{width:150px;text-align:left;margin-left:10px;color:#222;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.itemmembers{width:90px;text-align:left;margin-left:18px;color:#222;}

.desdiv{width:120px;text-align:left;display:block;float:left;margin:0;color:#222;font-weight: normal;}
.desdiv span{line-height:47px;}
.contentdiv, .descriptiondiv, .editdiv{width:220px;text-align:right;display:block;float:left;color:#666;}
.editdiv{display:none;}

#itemsdiv{width:388px;float:left;min-width:200px;overflow-x:hidden;overflow-y:auto;}
button{border-radius:4px;}

#divcallbtn{width:25px;height:34px;padding-top:2px;margin-left:0px;display:none;margin-top:4px;margin-top:4px;}
#itemcallbtn, #rightitemcallbtn{height:30px;width:30px;z-index:2;background:url(../img/apps/call_status_icons.png) -60px 0px no-repeat;border:none;margin:0;padding:0;outline:0;cursor:pointer;}
#itemcallbtn:hover, #itemcallbtn.buttonover, #rightitemcallbtn:hover, #rightitemcallbtn.buttonover{background:url("../img/apps/call_status_icons.png") -90px 0px no-repeat;}


.membersdiv{overflow-x:hidden;overflow-y:auto;width:340px;}
.memberdiv, .righttopdiv, .logitemdiv{float:left;height:42px;width:350px;margin:0;line-height:42px;}
.memberdiv{display:none;}
.memberdiv div, .logitemdiv div{display:block;float:left;}
.membercheck{display:none;width:14px;height:16px;margin-right:16px;padding-top:11px;}
.membername{width:130px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-left: 15px;}
.membernumber{width:115px;text-align:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

.appmaindiv{background:transparent;border:none;}
.appleft, .appright{background: #FFFFFF; border: 1px solid #cecece;}
.dialdiv{width:373px;height:32px;margin:14px 0 0 16px;float:left;}
.dialdiv input, .searchinput{border-radius:4px;border:1px solid #babbbb;float:left;width:310px;height:30px;line-height:30px;padding:0 0 0 9px;color:#999;font-size:16px;margin:0;*height:32px !important;*line-height:32px !important;}
.searchinput{width:310px !important;}
.dialdiv button{border-radius:0 4px 4px 0;border:1px solid #babbbb;float:left;background:url("../img/apps/call_search_call_unpressed_icon.png") center center no-repeat #fff;width:43px;height:32px;padding:0;margin:0;outline:0;min-width:0px;}
.dialdiv button.buttonover{border-color:#4ABE6B;background-image:url("../img/apps/call_search_call_hover_icon.png");background-color:#4ABE6B;}
.titlediv{background:transparent;font-size:14px;color:#1d6ea8;line-height:42px;height:42px;border-bottom:1px solid #e1e1e1;}
.titleboot{margin:0 0 0 16px !important;text-align:left;}
.appsbtn{height: 30px;position: absolute;clear: both;bottom: 10px;}
#selectall{height:auto;padding:0;margin:0 0 0 16px;width:20px !important;vertical-align:middle;}

.appcontacticon{width:20px;height:18px;background:url("../img/apps/call_status_icons.png") 0px -107px no-repeat;}
.appgroupicon{width:26px;height:18px;background:url("../img/apps/call_status_icons.png") -26px -72px no-repeat;}
.appincomingicon{width:18px;height:18px;background:url("../img/apps/call_status_icons.png") -18px -54px no-repeat;}
.appcallouticon{width:18px;height:18px;background:url("../img/apps/call_status_icons.png") -36px -54px no-repeat;}
.appmissedicon{width:18px;height:18px;background:url("../img/apps/call_status_icons.png") 0px -54px no-repeat;}
.appconficon{width:26px;height:18px;background:url("../img/apps/call_status_icons.png") 0px -72px no-repeat;}

/*button*/
#rightbtn{right:16px;}
.appsbtn button{width:82px;height:30px;border:none;margin:0 0 0 6px;vertical-align: middle;min-width:82px;}
#addcontact, #morebtn{background:#5089BA;position: absolute;left: 280px;top:0;}
#addcontact.buttonover{background-color: #186DB7;}
#morebtn{left:185px;}
/*#delcontact{width:26px;height:26px;vertical-align: middle;min-width:0px;}
#delcontact{background:url("../img/recording.png") -130px 0 no-repeat;}
#delcontact.deldisable{background:url(../img/recording.png) -104px 0 no-repeat;}
#delcontact.buttonover{}
#savebtn{background:#5089BA;display:none;}
#savebtn.buttonover{background:#186DB7;}
#cancelbtn{background:#777777;display:none;}
#cancelbtn.buttonover{background:#595959;}
.editbtn{float:right;}
.editbtn.buttonover {background-color: #186DB7;}
