html{height:100%;}
body {
    height: 100%;
    margin: 0 auto;
    width: 1024px;
    font-family:"Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana;
    color:#FFFFFF;
}
/*---------------------------------------------------------------------------------------------------------------*/
.menuContent {position:relative; z-index:99; color:#FFFFFF;}
#mainMenu {  float:left; z-index:9;margin-top:0px;width:196px;height:100%;background:#232728;overflow-x:hidden;overflow-y:auto;direction:rtl;position:relative;min-height:515px; }
#mainContent { width:1020px; min-height:500px; float:right; z-index:9; }
a.feature {
    background: url("../img/feature_split.png") no-repeat scroll right center transparent;
    cursor: pointer;
    padding:0 6px;
}
a.feature.last {
    background: transparent;
    cursor: pointer;
}
a.feature, a.feature:visited {
    text-decoration: none;
}
a.feature:hover {
    text-decoration: underline;
}
/*MAIN MENU----------FIRST MENU*/
#menuoption{width:998px;}
.ddsmoothmenu { width:181px; font: normal 20px Arial; text-align: center; position:absolute; left:0px;color:#c2cbd4;}
.ddsmoothmenu ul { z-index:99; margin: 15px 0 0; padding: 0; list-style-type: none; }
//.ddsmoothmenu ul:after{display:table;content:"";clear:both;}
.ddsmoothmenu ul li { position: relative; display: inline; float: left; display: block;margin:38px 15px 0 15px;padding: 0px 10px;text-decoration: none;z-index:99;height:40px;line-height: 40px;cursor:pointer;min-width:65px;color:#E3E7EC;}
.ddsmoothmenu ul li:hover{color:#FD7E0E;}
.ddsmoothmenu ul li.selected { 
    /*border-top-right-radius: 4px;border-top-left-radius: 4px;*/
    /*background:#2baed4;*/
    /*font-size:20px;*/
    color:#FD7E0E; 
    border-bottom:2px solid #FD7E0E;
}
.ddsmoothmenu ul li.selected span{
    width:100%;
    /*border-bottom:2px solid #FD7E0E;*/
    padding-bottom:10px;
}
ul.topfirstmenu li{min-width:70px;}
.select_img{
    background:transparent;
    width:12px;
    height:5px;
    position:absolute;
    top:77px;
    left:-12px;
    display:none;
}
.menulast{position: absolute;float:right;right:35px;margin:-5px 0 0 0;padding: 0px 0px;z-index:99;height:25px;line-height: 25px;font-size:14px;color:#A4AAAF;}
.menulast div{float:left;}
.menulast .newListSelected{width:90px;height:25px;line-height:25px;margin:0;border-radius:4px;background:url("../img/call_language_change_triangle_unpress_icon.png") no-repeat 80px 10px transparent;font-size:14px;color:#A4AAAF;margin-top: 0 !important;}
.menulast .newListSelHover, .menulast .newListSelFocus{cursor:pointer;color:#FD7E0E;}
.menulast .newListSelected .selectedTxtDiv{width:81px !important;}
.menulast .newListSelected .selectedTxt{width:81px !important;text-align:left;height:23px;line-height:23px;float:none;padding:0 0 0 10px;margin:0;}
.menulast .newListSelected ul.newList{width:91px;background:#FFFFFF;border:1px solid #B2B1B1;padding:0;color:#444444;overflow:hidden;}
.menulast .newListSelected ul.newList li{padding:0 10px;height:26px;line-height:26px;float:none;margin:0;text-align:left;border-bottom:1px solid #B2B1B1;}
.menulast .newListSelected ul.newList li:last-child{border-bottom:none;}
.menulast .newListSelected ul.newList li:hover{background:#E9EBED;}
.menulast .remote{background:transparent;width:auto;height:25px;margin:0 0 0 10px;}
.menulast .remote:hover{cursor:pointer;color:#FD7E0E;}
.menulast .exit{background:transparent;width:auto;height:25px;margin:0 0 0 10px;}
.menulast .exit:hover{cursor:pointer;color:#FD7E0E;}
.menulast .menulastline{width:1px;height:12px;background-color:#A4AAAF;margin:6px 2px 0 12px;}
.menulast .dndon{color:#D8333D;}
.menulast .dndoff{color:#A4AAAF;}

.applydiv{width:70px;height:24px;float:right;top:10px;margin-left:450px;position:absolute;display:none;}
.applydiv button{height:24px;width:70px;border-radius:2px;color:#FFFFFF;background-color:#FD7E0E;}
.applydiv button:hover{background-color:#EA6F03;}
.applydiv button.applydisable{background-color:#326081;}
#applytips {position:fixed;top:40%;left:35%;font-size:14px;color:#222;line-height:80px;padding:0 80px;width:auto;background:#FFFFFF;height:80px;text-align:center;margin:0;box-shadow:0px 0px 10px 2px #D6D6D6;z-index:100;margin-left:80px;}


.topfirstmenu ul li:hover, .topfirstmenu ul li.selected { border-radius: 0px;background:none repeat scroll 0 0 #BDBDBD; }
* html .ddsmoothmenu ul li { display: inline-block; } /*IE6 hack to get sub menu links to behave correctly*/
.ddsmoothmenu ul li ul { position: absolute; display: none; visibility: hidden; }/*/*1st sub level menu,, collapse all sub menus to begin with*/
.ddsmoothmenu ul li ul li {  display: list-item; float: none; font: normal 13px Verdana; width: 170px; padding:5px; margin:0; border-top-width:0; }
.ddsmoothmenu ul li ul li ul { top: 0; }  /*All subsequent sub menu levels vertical offset after 1st level sub menu */

.downarrowclass { position: absolute; top: 12px; right: 7px; }

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow { position: absolute; left: 0; top: 0; width: 0; height: 0;  }
.toplevelshadow{ opacity: 0.8;}   /*shadow opacity. Doesn't work in IE*/
.topsecmenu{top:34px;left:0;background:white;border:1px solid black;}
.topsecmenu li{color:black;}
.topthirdmenu{top:0;left:180px;background:white;border:1px solid black;}
.menuarrow{float:right;margin-right:5px;margin-top:3px;}
.thirdmenuicn{width:16px;height:16px;float:right;margin-right:5px;}
.plus{background:url("../img/icn_plus.png") repeat-x scroll 0 0 transparent;}
.minus{background:url("../img/icn_minus.png") repeat-x scroll 0 0 transparent;}

/*---------------------------------------------------------------------------------------------------------------*/
/*SECONG MENU*/
.framebody{ left:210px; top:0;position:absolute;}
#main{ top:15px; position:relative; overflow:hidden;padding:0;width:774px;height:100%;z-index:9;}

.main_navi { /*float:right;*/ top:0px; padding:0px 0 0 0px; *padding:3px 0 0 0px;margin:1px 0 0 0 !important; z-index:9; direction:ltr;}
.main_navi li, .leftsecmenuli {
    clear:both;
    font-size:18px;
    height:30px;
    line-height:30px;
    list-style-type:none;
    /*padding:6px 0px 6px 6px !important;*/
    margin:0px !important;
    *margin:-3px 0px 0 0 !important;/*ps:IE doesn't support important property,but IE7 can,so add a *margin to define the IE7 CSS*/
    margin-top:8px !important;
    width:189px;
    cursor:pointer;
	z-index:9;
	/*background: transparent;
    border-right: 2px solid #666666;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;*/
    color: #C6C6C6;
    font-weight: normal;
    float:right;
    height:auto;
    position: relative;
}
.main_navi li:hover{color:#fd7e0e;/*2ba3d4*/}
.main_navi li.active {
    /*background: none repeat scroll 0 0 #FFFFFF;border-right: 0 none;color: #000000;*/
    font-size:18px;color:#fd7e0e;font-weight:bold;
}
.main_navi li.leftsecmenuli.active{color:#fff;}
.leftsecmenu li{font-size:16px;}
.leftsecmenu li.active{
    background:#FD7E0E;
    font-size:16px;
    font-weight:bold;
    color:#FFFFFF;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}
.imghidemenuli2{width:22px;height:22px;background:url("../img/icon/menu_icon.png") no-repeat;background-position: -132px -38px;position:absolute;right:0px;top:4px;}
.imghidemenuli2.iconhover{background-position:-154px -38px;}
.imghidemenuli2.active,.imghidemenuli2.active.iconhover{background:url("../img/icon/menu_icon.png") no-repeat;background-position:-176px -38px;}
.leftsecmenu li.active:hover{color:#FFFFFF;}
.main_navi img { float:left; margin-right:5px; width:25px; height:25px;border:0;display:none; }
.main_navi .longspan{display: -moz-inline-box; width: 140px; overflow: hidden; text-overflow: ellipsis;}
ul#advanset_li li span,ul#apps_li li span,ul#maintenance_li li span,ul#status_li li span{display:block;width:147px;word-break:break-word;margin-left:30px}
ul#advanset_li li ul li span,ul#apps_li li ul li span,ul#maintenance_li li ul li span{position:relative;left:-5px;}
ul#control_li li span,ul#apps_li li span,ul#maintenance_li li span,ul#status_li li span{margin-left:30px;}
.hassubmenu{padding-right:0px !important;}
.leftsecmenuli{/*margin-top:-6px !important;*/}
.leftsecmenuli2, .leftsecmenuli{/*background:#1D6EA8*/;border-radius:2px 0 0 2px;}
.leftsecmenuli2:hover, .leftsecmenuli:hover{/*background:#FD7E0E;*/}
.leftsecmenuli.active{background:#FD7E0E;}
.leftsecmenu{margin-top:0px;display:none;}
.leftsecmenu li span{margin:0 0 0 35px;}
.leftsecmenu > li {
    width:172px;height:27px;line-height:27px;float:right;height:auto;background: transparent;
    /*background:linear-gradient(to right, #EEEEEE 0%, #EEEEEE 90%, #BBBBBB 100%) repeat scroll 0 0 transparent;*/
}
.leftsecmenu > li:hover {
    color:#fff;
}
/*---------------------------------------------------------------------------------------------------------------*/
/*the top and bottom div */
#midBanner, #topbg {
    background:#063b61;
    height: 108px;
    padding-left: 31px;
}
#logo-pad {
    background: transparent;
    color:#fdfcf3;
    font-size:30px;
    font-weight:bold;
    line-height: 30px;
    font-family: "Lucida Sans Unicode";
    float: left;
    height: 30px;
    margin-top:18px;
    z-index: 2;
}
#mid-container {
    background: url("../img/hborder.png") repeat-x scroll 0 -96px transparent;
    clear: both;
    height: 30px;
    margin-top: 0px;
    width: 1024px;
    z-index: 99999;
}
#maintitle {
    background: #3B6BB9;
    background: linear-gradient(to right, #3B6BB9 0%, #3B6BB9 90%, #2A5292 100%) repeat scroll 0 0 transparent;
    border-right: 2px solid #234C8D;
    color: #FFFFFF;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    width: 194px;
    height:18px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    float:left;
    padding:6px !important;
    display:none;
}
.footContent{ height:20px; z-index:10;position:absolute;width:1024px; left:0px;}
.footIndex { text-align:center;line-height:30px;color:#666;background-color: transparent;}
/*---------------------------------------------------------------------------------------------------------------*/
/*the prompt css*/
.jqifade { position: absolute; background-color: #aaaaaa;	top:380px; }
div.jqi{ 
	width: 600px; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	position: absolute; 
	background-color: #ffffff;
	font-size: 11px; 
	text-align: left; 
	border: solid 1px #eeeeee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 12px;
}
div.jqi .jqicontainer { font-weight: bold; }
div.jqi .jqiclose { position: absolute;top: 4px; right: -2px; width: 18px; cursor: default; color: #bbbbbb; font-weight: bold; }
div.jqi .jqimessage { padding: 10px; line-height: 20px; color: white; width:600px; }
div.jqi .jqibuttons{ text-align: right; padding: 5px 0 5px 0; border: solid 0px #eeeeee; width:600px; float:left; }
div.jqi button{ padding: 3px 10px;margin: 0 10px; background-color: #2F6073; border: solid 1px #f4f4f4; color: #ffffff; font-weight: bold; font-size: 12px; }
div.jqi button:hover { background-color: #728A8C; }
.jqiwarning .jqi .jqibuttons { background-color: transparent; }
div.jqi .jqimessage .field { padding: 5px 0px 5px 0px; float:left;width:300px;line-height:25px; }
div.jqi .jqimessage .shortmsg { float:left;width:600px; }
div.jqi .jqimessage .field label { clear: left; display: block; float: left; width: 150px; }
div.jqi .jqimessage .field input { border: #777777 1px solid; width: 120px; }
DIV.jqi .jqimessage .field input.error { border: #ff0000 1px solid; width: 120px; }

/*---------------------------------------------------------------------------------------------------------------*/
/* UI --tooltip div*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.mb-resize{ display:block;background-color:transparent !important;border:3px solid transparent !important;*border:5px solid transparent !important;margin:0 !important;}
.mb-resize-resizable-n { cursor: e-resize; width: 100% !important; height: 50px !important; right: 0 !important; top: -10px !important; z-index:auto !important;}
.mb-resize-resizable-e { cursor: e-resize; width: 20px !important; height: 100% !important; right: -20px !important; top: 0 !important;z-index:auto !important;}
.mb-resize-resizable-w { cursor: e-resize; width: 20px !important; height: 100% !important; left: -20px !important; top: 0 !important;z-index:auto !important;}
.mb-resize-resizable-s { cursor: s-resize; width: 100% !important; height: 10px !important; bottom: -10px !important; left: 0 !important;z-index:auto !important; }
.mb-resize-resizable-se { cursor: se-resize; width: 30px !important; height: 30px !important; right:0 !important; bottom: -10px !important; z-index:auto !important;}

.mbc_button{position:absolute;top:-12px;right:0;width:15px;min-width:0px;height:15px;background: transparent url(../elements/black/iconize.png) no-repeat;}
.mbc_button:hover, .mbc_button:active, .mbc_button .buttonover{background-color:transparent;}

.container {font-family:Tahoma,Arial,Helvetica,sans-serif; font-size:13px; visibility:hidden; }
.container .spacer {margin-top:10px}
.container .mbc_buttonBar { position:absolute;top:0;right:0;float:right;margin-top:22px; margin-right:10px;}
.container .mbc_buttonBar img {margin-left:5px}
.container .mbcontainercontent {height:220px;padding-right:10px;overflow-y:auto;overflow-x:hidden;}

.iconLabel{font-family:sans-serif;font-size:10px;padding:5px;background:#f3f3f3;color:gray;display:block;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #ccc}

/* default skin */
.container .mbc_content { background: none repeat scroll 0 0 #FFFAF0;border: 1px solid #DDCCAA;border-radius: 12px 12px 12px 12px;box-shadow:0px 0px 6px 1px #919191;color: #444444;font-size: 12px;line-height: 17px;padding: 14px 10px; }
.container .no {background: transparent;}
.container .ne	{ background: transparent;}
.container .ne img	{left:-10px; top:-10px;}
.container .n	{ background: transparent; margin-right: 20px; -moz-user-select: none; -khtml-user-select: none}
.container .n	{ padding-top:8px;height:auto; font-size:15px; overflow:hidden;color:#111111;}
.container .n	a{ text-decoration:none;color:#000; font-size:15px;}

.container .o	{ background: transparent;}
.container .e	{ background: transparent;}
.container .c { background: transparent; padding-top: 1px; padding-bottom: 1px; }

.container .so	{ background: transparent;display:none;}
.container .se	{ background: transparent; margin-left: 21px;}
.container .s { background: transparent; padding-top: 20px; margin-right: 23px;}
.mbc_title {width:100%;height:25px;background:transparent;position:absolute;top:0px;left:0px;cursor:move;}

/*---------------------------------------------------------------------------------------------------------------*/
.titleIndex {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 1010px;
    height: 100px;
}

#multiphone {
    position: absolute;
	padding-top:8px;
    top: 45px;
    left: 180px;
    width: 600px;
    height: 40px;
}

#remotectrlpage{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:1001;background:rgba(0, 0, 0, 0.3);-pie-background:rgba(0,0,0,.7);display:none;}
#volumedrag{width:10px;height:110px;position:absolute;top:15px;left:15px;}
#volumebtn{width:10px;height:10px;background:transparent url(../img/remote/remote_volume_icon.png) no-repeat;margin-top:10px;}
#zoombtn{width:10px;height:10px;background:transparent url(../img/remote/remote_enlarge_icon.png) no-repeat;margin-top:10px;}
.dragContainer{width:9px;height:99px;overflow:hidden;}
.voldragDiv{width:4px;height:99px;background:#3B3B3B;position:absolute;top:0;left:2px;border-radius:2px;}
.volchangeDiv{width:4px;height:0px;background:#AFAFAF;position:absolute;bottom:16px;left:2px;border-radius:2px;}
#zoomdrag, #volumedrag{width:9px;height:9px;background:url("../img/remote/remote_drag_handle.png") no-repeat;position:absolute;left:0px;bottom:16px;cursor:pointer;}

.center{position: absolute; top:0; bottom:0; left:0; right: 0; margin: auto; text-align: center;}
.borderradius button{position: relative; min-width: 0; border-radius: 0;}
.borderradius button div{position: absolute; left:0; right:0; top:0; bottom:0; text-align: center; margin: auto;}
.btnarea {width:100%;height:30px;}
.btnarea button{height:28px; float: left; padding: 0; min-width: 0; border-radius: 0; background: none;}
.btnarea button.buttonover, .downbtnarea button.buttonover{background: #646464;}
.downbtnarea{width:100%;height:32px;}
.downbtnarea button{height:30px; float: left; padding: 0; min-width: 0; border-radius: 0; background: none;}
.downbtnarea button div{height: 20px; width: 36px;}
#topbuttonarea div, .radiusbtn div, .arrowbtn div, #mediabtn div{width: 20px; height: 20px;}
.optbtnleft{width: 48px; margin: 1px 0 1px 1px;}
.optbtnmid{width: 50px; margin: 1px;}
.optbtnright{width: 48px; margin: 1px 1px 1px 0;}
#tophomebtn{width:100%; height:55px; background:transparent; position:relative;}
#touchpad{width:100%; height:122px;}
#powerbtn{width:32px;height:32px;background:transparent url(../img/remote/remote_control.png) -133px -84px no-repeat;margin:0;padding: 0;position: absolute; top:25%; left:39.5%;}
#powerbtn.buttonover{background:transparent url(../img/remote/remote_control.png) -170px -84px no-repeat;}
#returnkey div{background:transparent url(../img/remote/remote_control.png) -14px -4px no-repeat;}
#homekey div{background:transparent url(../img/remote/remote_control.png) -37px -4px no-repeat;}
#menukey div{background:transparent url(../img/remote/remote_control.png) -58px -4px no-repeat;}
#customkey div{background: transparent url(../img/remote/remote_control.png) -248px -53px no-repeat; width: 25px; height: 20px;}
#customkey{width: 99%; height: 29px; margin: 1px;}
#funcbtn div{width: 36px; height: 20px;}
#reddigit div{background:transparent url(../img/remote/remote_control.png) -129px -52px no-repeat;}
#yellowdigit div{background:transparent url(../img/remote/remote_control.png) -165px -52px no-repeat;}
#bluedigit div{background:transparent url(../img/remote/remote_control.png) -201px -52px no-repeat;}
.radiusbtn button{width: 48px; height: 35px; padding: 0; min-width: 0; border-radius: 0; background: none; margin:1px;}
#volumedownbtn{float: left;}
#volumeupbtn{float: right;}
#volumedownbtn div{background:transparent url(../img/remote/remote_control.png) -190px -5px no-repeat;}
#volumeupbtn div{background:transparent url(../img/remote/remote_control.png) -234px -5px no-repeat;}
.centerarrow{width: 92px; height: 95px; margin: 12px auto 0 auto; position: relative;}
.centerarrow button{padding: 0; min-width: 0; border-radius: 0; background: none;}
#topbtn, #bottombtn{height: 20px; width: 30px;}
#leftbtn, #rightbtn{height: 52px; width: 20px;}
#centerbtn{width: 52px; height: 52px; position: absolute; background:transparent url(../img/remote/remote_control.png) -133px -123px no-repeat;}
#centerbtn.buttonover{background:transparent url(../img/remote/remote_control.png) -185px -123px no-repeat;}
#topbtn div{background:transparent url(../img/remote/remote_control.png) -169px -26px no-repeat;}
#leftbtn div{background:transparent url(../img/remote/remote_control.png) -256px -27px no-repeat;}
#rightbtn div{background:transparent url(../img/remote/remote_control.png) -298px -27px no-repeat;}
#bottombtn div{background:transparent url(../img/remote/remote_control.png) -213px -26px no-repeat;}
#zoomoutbtn{float: left;}
#zoominbtn{float: right;}
#zoomoutbtn div{background:transparent url(../img/remote/remote_control.png) -278px -4px no-repeat;}
#zoominbtn div{background:transparent url(../img/remote/remote_control.png) -322px -4px no-repeat;}
#mediabtn button{margin-top: 0px; height: 31px;}
#layoutbtn div{background:transparent url(../img/remote/remote_control.png) -80px -4px no-repeat;}
#ptzbtn div{background:transparent url(../img/remote/remote_control.png) -102px -4px  no-repeat;}
#presentationbtn div{background:transparent url(../img/remote/remote_control.png) -124px -4px no-repeat;}
#digitcall div{background:transparent url(../img/remote/remote_control.png) -14px -28px no-repeat;}
#digitback div{background:transparent url(../img/remote/remote_control.png) -146px -4px no-repeat; width: 20px; height: 20px;}
#digitendcall div{background:transparent url(../img/remote/remote_control.png) -52px -28px no-repeat;}
#digit4, #digit5, #digit6{height: 31px;}
#digit1 div{background:transparent url(../img/remote/remote_control.png) -14px -51px no-repeat;}
#digit2 div{background:transparent url(../img/remote/remote_control.png) -52px -51px no-repeat;}
#digit3 div{background:transparent url(../img/remote/remote_control.png) -90px -51px no-repeat;}
#digit4 div{background:transparent url(../img/remote/remote_control.png) -14px -84px no-repeat;}
#digit5 div{background:transparent url(../img/remote/remote_control.png) -52px -84px no-repeat;}
#digit6 div{background:transparent url(../img/remote/remote_control.png) -90px -84px no-repeat;}
#digit7 div{background:transparent url(../img/remote/remote_control.png) -14px -117px no-repeat;}
#digit8 div{background:transparent url(../img/remote/remote_control.png) -52px -117px no-repeat;}
#digit9 div{background:transparent url(../img/remote/remote_control.png) -90px -117px no-repeat;}
#digitasterisk div{background:transparent url(../img/remote/remote_control.png) -90px -28px no-repeat;}
#digit0 div{background:transparent url(../img/remote/remote_control.png) -52px -150px no-repeat;}
#digithash div{background:transparent url(../img/remote/remote_control.png) -128px -28px no-repeat;}
#bottommutebtn{width: 100%; height: 65px; position: relative;}
#mutebtn{position: absolute; width: 32px; height: 32px; background:transparent url(../img/remote/remote_control.png) -207px -84px no-repeat;}
#mutebtn.buttonover{background:transparent url(../img/remote/remote_control.png) -244px -84px no-repeat;}
#bottomlogo{height: 50px; width: 100%; position: relative;}
#bottomlogo div{width: 58px; height: 20px; background:transparent url(../img/remote/remote_control.png) -344px -26px no-repeat;}

#bottomdigitarea{width:192px;height:162px;background:#181818;border:1px solid #000000;border-radius:12px;position:absolute;top:337px;left:14px;}
.KeypadDigit { display:block; float:left; width:64px; height: 27px;background:transparent; }
.KeypadDigitHover{background:#444444;}
.KeypadDigit > button {background:transparent;border-left:1px solid #000000;border-top:1px solid #000000;border-radius:0px;width: 64px;height: 27px;min-width:0px;}
.KeypadDigit > button:active {
    background: url(../img/bg_keypaddigit_pressed.png) center no-repeat;
}
.KeypadDigit > .noleftbd{border-left:1px solid transparent;}
.KeypadDigit > .notopbd{border-top:1px solid transparent;}
.DigitButtonLeft {position: relative;font-size: 16px;font-weight: bold;color:#FFFFFF;border: 0px;top: 2px;left: -12px;}
.DigitButtonRight {position: relative;font-size: 8px;font-weight: normal;color:#FFFFFF;border: 0px;top: -11px;left: 10px;}
#digitrecord{width:35px;height:18px;background:transparent url(../img/remote/remote_control.png) -105px -19px no-repeat;left:4px;}
#digitinfo{width:35px;height:18px;background:transparent url(../img/remote/remote_control.png) -140px -19px no-repeat;left:6px;}
#digitcontact{width:17px;height:14px;background:transparent url(../img/remote/remote_control.png) no-repeat;left:4px;}
#closeremote{background:url("../img/remote/close_unpressed.png") no-repeat;width:42px;height:42px;}
#closeremote:hover{background:url("../img/remote/close_pressed.png") no-repeat;}
